/* <<<<Created freely by cyber-MX "www.net-pixel.com">>>> */
/* General page style. */
body{
background: #E7ECEF;
color:#5E7388;
font:12px Verdana,Arial,Helvetica,sans-serif;
}

/* General font families for common tags */
body,font,th,td,p{color:#5E7388; font:11px Verdana,Arial,Helvetica,sans-serif}
a:link,a:active,a:visited,a.postlink:link,a.postlink:active,a.postlink:visited{color:#0E7398;text-decoration:none}
a:hover,a.postlink:hover{color:#1096c9;text-decoration:none}
.postbody{font-size:12px;text-align:justify;padding:5px}
.postbody a:link, .postbody a:visited { text-decoration: underline !important }
.postbody a:hover { text-decoration: none !important }
.code a:link, .code a:visited, .code a:hover { text-decoration: none !important; border-bottom: 0 !important }

/* The scroll bar colours only visible in IE5.5+ */
body{
background: #E7ECEF;
scrollbar-base-color: #D9DFE6; scrollbar-track-color: #E4E8EC; scrollbar-arrow-color: #6E7882;
scrollbar-highlight-color: #F4F8FC; scrollbar-shadow-color: #9BABBA;
scrollbar-3dlight-color: #6E7882; scrollbar-darkshadow-color: #6E7882;
}

hr{border:0px solid #d1d7dc; border-top-width:1px; height:0px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#ffffff;border:1px solid #5E7388}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #5E7388}

/* This is for the error messages that pop up */
.errorline	{ background-color: #add8e6; border:1px solid #98aab1}

/* Main table cell colours and backgrounds */
td.row1{background:#DEE3E8}
td.row2{background:#E4E8EC}
td.row3{background:#C7D1DA}
td.post_helpful{background:#cad9ea}
.helpful_replies{display:block;margin-top:2px;padding:5px;border:1px solid #fff;background:#cad9ea}

tr.row_hover td {background:#E4E8EC}
tr.topic_moved td span, tr.topic_moved td img {opacity:0.3;filter:alpha(opacity=30)}

/*
This is for the table cell above the Topics,Post & Last posts on the index.php page
By default this is the fading out gradiated silver background.
However,you could replace this with a bitmap specific for each forum
*/
td.rowpic{background:#D9DFE6 url(images/cellpic1.gif) repeat-x; border-bottom: solid #B6C1CD 3px}

/* Header cells - the blue and silver gradient backgrounds */
th{background: #B7C1CA url(images/cellpic3.gif);
color: #5E7388;
font-size:11px;
font-weight:bold;
height:25px}

td.cat,td.cathead,td.catsides,td.catleft,td.catright,td.catbottom{
background:#d1d7dc url(images/cellpic1.gif);
border:#F7F9FA;
border-style:solid;
height:28px}

/*
Setting additional nice inner borders for the main table cells.
The names indicate which sides the border will be on.
Don't worry if you don't understand this,just ignore it:-)
*/
td.cat,td.cathead,td.catbottom{border-width:0px 0px 0px 0px;height:28px}
th.thhead,th.thsides,th.thtop,th.thleft,th.thright,th.thbottom,th.thcornerl,th.thcornerr{
border:#F7F9FA;
border-style:solid;
font-weight:bold;
height:28px}

td.row3right,td.spacerow{
background:#cad9ea;
border:#F7F9FA;
border-style:solid
}
th.thhead,td.cathead{border-width:1px 1px 0px 1px}
th.thsides,td.catsides,td.spacerow{border-width:0px 1px 0px 1px}
th.thright,td.catright,td.row3right{border-width:0px 1px 0px 0px}
th.thleft,td.catleft{border-width:0px 0px 0px 1px}
th.thbottom,td.catbottom{border-width:0px 1px 1px 1px}
th.thtop{border-width:1px 0px 0px 0px}
th.thcornerl{border-width:1px 0px 0px 1px}
th.thcornerr{border-width:1px 1px 0px 0px}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
color:#000000;
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}
.subtitle,h2{
color:#000000;
font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* General text */
.gen{font-weight:bold}
.genmed{font-size:11px}
.gensmall{font-size:10px}

/* Forum category titles and forum links*/
.cattitle,.forumlink{font-weight:bold; letter-spacing:1px}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}

/* titles for the topics:could specify viewed link colour too */
.topictitle{color:#000000;font-size:11px;font-weight:bold}
a.topictitle:visited{color:#5493b4}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{color:#000000;font-size:11px}

.user_blocked{border:1px solid #f7f9fa;padding: 5px;text-align:center;background:#C7D1DA;font-size:10px}

/* Location,number of posts,post date etc */
.postdetails{color:#000000;font-size:10px}

/* The content of the posts (body of text) */
/*a.postlink:visited{color:#5493b4;text-decoration:none}*/

/* Quote & Code blocks */
.code{
background-color:#f5f8f5;
border:1px solid #a8b8a8;
color:#006600;
font:11px 'Courier New',Courier,monospace;
}

.code {
	padding-left: 20px;
	background-image: url("../../images/nums/bg.gif");
	background-position: left;
	background-repeat: repeat-y;
}
.code .n {
	vertical-align: middle;
	margin-right: 17px;
	margin-left: -17px;
}
.code .n img {
	height: 10px;
}
.code .tab {
	border-bottom: 1px dashed #DCDCDC;
}
.code strong {
	background-color: #cec;
	cursor: help;
}
.code em {
	background-color: #cec;
}

tt {
	font-family: 'Courier New', Courier, monospace;
}
.postbody tt {
	color: #000;
}

.quote{
background:#fafafa;
border:1px solid #b8b8b8;
color:#808080;
font:11px/125% Verdana,Arial,Helvetica,sans-serif}

/* Copyright and bottom info */
.copyright{font:10px Verdana,Arial,Helvetica,sans-serif}
a.copyright{color:#444444}
a.copyright:hover{color:#000000;text-decoration:none}

/* Form elements */
input,textarea,select,button{
border-color:#6C7E90;
border-width: 1px;
border-style: solid;
color:#6C7E90;
background:#F0F2F4;
font:normal 11px Verdana,Arial,Helvetica,sans-serif}

/* The text input fields background colour */
input.post,textarea.post,select{background:#EAEDF2}
input{text-indent:2px}

/* The main submit button option */
input.mainoption{background:#F0F2F4;font-weight:bold}

/* None-bold submit button */
input.liteoption{background:#F0F2F4;font-weight:normal}

/* This is the line in the posting page which shows the rollover
help line. This is actually a text box,but if set to be the same
colour as the background no one will know;)
*/
.helpline{background:#D9DFE6;border:solid #C9CFD6 1px}


.signature li { list-style-type: none }
.signature table td span.genmed, .signature .code_view, .signature .code img { display: none }
.signature .code { padding-left: 0; background-image: none }
.signature .code .n { margin: 0 }
.signature .code, .signature .quote { border: 0; background-color: transparent; font:10px Verdana,Arial,Helvetica,sans-serif }
.signature, .signature span, .signature td, .signature ul, .signature ol, .signature li { font-size: 10px !important; color: #5E7388 !important; font-weight: normal !important; text-decoration: none !important; font-style: normal !important }
.signature img { max-width: 88px; max-height: 31px }

tr.highlight_row td { background-color: #FEF5C1 !important }
tr.high_row td { background-color: #fcb !important }

.reklama {
	text-align: center;
}

.reklama a, .reklama object {
	margin: 2px 0;
}

/* SPELL CHECKER */
.spelling {
	color: red;
	cursor: help;
}
.spelling_incorrect {
	color: red;
	cursor: help;
	text-decoration: underline;
}
.spelling_correct {
	
}

#spelling {
	display: block;
	position: absolute;
	width: 200px;
	text-align: center;
	background-color: #D4D0C8;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF #808080 #808080 #FFFFFF; 
}
#spelling input.post {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	background-image: none;
	background-color: #FFFFFF;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #404040 #D4D0C8 #D4D0C8 #404040; 
}
#spelling input.mainoption, #spelling input.liteoption {
	background-image: none;
	background-color: #D4D0C8;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF #404040 #404040 #FFFFFF; 
}
#spelling select {
	margin-top: 10px;
	color: #000;
	background: #eee;
	border-width: 1px;
	border-style: solid;
	border-color: #404040 #FFFFFF #FFFFFF #404040 ; 
}
#spelling a {
	display: block;
	margin-top: 20px;
	margin-left: 25%;
	text-align: right;
	color: #0000FF;
	background-image: none;
	background-color: #D4D0C8;
	border: 0;
	font-size: 10px;
	font-weight: normal;
}
/* /SPELL CHECKER */

#linkor {
	text-align: center;
	margin-top: 5px;
	font-size: 10px !important;
}
#linkor table {
	margin: auto;
}
#linkor * {
	font-size: 10px !important;
}

#admin_link {
	position: absolute;
	top: 150px;
	right: 15px;
}

#searchform input.post {
	background: #F0F2F4 url("../../google.gif") no-repeat 3px 2px;
	padding-left: 50px;
}

.first_post .post_content {
	background-color: #cad9ea;
}
.view_first_post {
	background-color: #cad9ea !important;
}
.view_first_post a {
	display: block;
	text-align: center;
	padding: 7px;
}

.konkurs_laureat {
	background-color: #cde !important;
}
.konkurs_alert {
	color: red !important;
}
.konkurs_wyniki img {
	border: 0;
	background: url("../../images/throbber.gif") no-repeat center;
}
.konkurs_wyniki span {
	display: block;
	padding: 10px;
	background: url("../../images/photo202x152.png") no-repeat center;
}
* html a.konkurs_wyniki span {
	padding: 5px;
	border: 1px solid #000;
	background: #fff none;
}
.konkurs_wyniki span.konkurs_laureaci {
	background-image: url("../../images/photo90x70.png");
}

#ie-warning {
	display: block;
	color: InfoText;
	background: InfoBackground url("../../warning.gif") no-repeat 4px 0);
	padding: 5px 5px 5px 24px;
	border-bottom: 2px outset;
	margin: -15px -10px 15px -10px;
}
#ie-warning:hover {
	color: HighlightText;
	background-color: Highlight;
}

form.important select {
	border: 3px solid #f00;
}

div.editor {
	border-color: #6C7E90;
	border-width: 1px;
	border-style: solid;
	color: #6C7E90;
	background: #F0F2F4;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	background: #EAEDF2;
	padding: 1px;
	width: 100%;
	height: 250px;
	overflow: auto;
}
div.editor pre {
	background: #f5f8f5;
	border: 1px solid #a8b8a8;
	color: #006600;
	font-family: 'Courier New', Courier, monospace;
	padding: 1px;
}
div.editor blockquote {
	margin: 0 0 1ex 1ex;
	background: #fafafa;
	border: 1px solid #b8b8b8;
	color: #808080;
	padding: 1px;
}
div.editor blockquote[title]:before {
	content: attr(title) ': ';
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #b8b8b8;
	padding: 1px;
	background: #F0F2F4;
}

.notifications {
	position: absolute;
	left: 10px;
	top: 12px;
	text-align: left;
	margin: 0;
	padding: 0;
}
.notifications dt {
	font-weight: normal;
	font-size: 12px;
	background-color: #97A1AA;
	padding: 1px 2px;
	margin: 0;
	display: inline;
	border: 1px solid #5E7388;
}
.notifications dt a, .notifications dt a:hover {
	color: #fff;
	outline: 0;
}
.notifications_notify, .notifications_show {
	position: fixed;
}
* html .notifications_notify, * html .notifications_show {
	position: absolute;
}
.notifications_notify dt {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.notifications_show dt {
	filter: alpha(opacity=100);
	opacity: 1;
}
.notifications_notify dt {
	background-color: #F03D25;
	border-color: #DD3822;
}
.notifications dt strong {
	font-weight: normal;
}
.notifications_notify dt strong {
	font-weight: bold;
}
.notifications dd {
	margin: 0;
	padding: 0 1px 1px 1px;
	background-color: #fff;
	border-width: 0 1px;
	border-style: solid;
	border-color: #5E7388;
	display: none;
}
.notifications .row_first {
	border-top-width: 1px;
	padding-top: 1px;
	margin-top: 1px;
}
.notifications dd a {
	background-color: #DEE3E8;
	display: block;
	padding: 2px 4px 2px 22px;
}
.notifications .row2 a {
	background-color: #E4E8EC;
}
.notifications_show {
	border-bottom: 1px solid #5E7388;
	width: 300px;
}
.notifications_show dd {
	display: block;
}
.notifications .notification_privmsg a {
	background-image: url('images/icon_minipost_new.gif');
	background-repeat: no-repeat;
	background-position: 8px 5px;
}
.notifications .notification_post a {
	background-image: url('images/icon_latest_reply.gif');
	background-repeat: no-repeat;
	background-position: 1px 5px;
}
.notifications .notification_report a {
	background-image: url('images/icon_report.gif');
	background-repeat: no-repeat;
	background-position: 2px -1px;
}
.notifications .notification_new a {
	background-color: #CAD9EA;
}

.tabs {
	position: absolute;
	z-index: 1;
}
.tabs, .tabs li {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 22px;
	overflow: hidden;
}
.tabs li {
	float: left;
	padding: 1px 1px 0;
}
.tabs li a {
	display: block;
	padding: 2px 10px;
	font-weight: bold;
}
.tabs .tab_active {
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #5E7388;
	background-color: #fff;
}
.tabs .tab_active a {
	background-color: #D9DFE6;
	border-bottom: 3px solid #B9C3CF;
}
.tab_content {
	border: 1px solid #5E7388;
	clear: both;
	width: 500px;
	position: relative;
	top: 21px;
}
.tab_content ul, .tab_content li {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.tab_content li {
	margin: 1px;
	padding: 4px 5px;
}
.tab_content .row1 {
	background-color: #DEE3E8;
}
.tab_content .row2 {
	background-color: #E4E8EC;
}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formie.css");